<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="serverIP" value="172.31.28.85" />
    <add key="serverPort" value="57201" />
    <add key="serverAET" value="PHLMR" />
    <add key="clientAET" value="INGENIA" />
    <add key="clientPort" value="8004" />
    <add key="cacheDays" value="7" />
    <add key="deviceType" value="MR" />
    <add key="loopSeconds" value="3600" />
    <add key="isRealTime" value="0" />
    <add key="isOnlyArrived" value="0" />
    <add key="setAETitle" value="" />
    <add key="isNotConvertPatientId" value="0" />
  </appSettings>
</configuration>